* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    background: transparent;
}

window#waybar {
    background-color: rgba(28, 28, 30, 0.50);
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #555869;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #cdd6f4;
    color: #11111b; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight,
#language {
    background-color: rgba(28, 28, 30, 0);
    padding: 0px 10px;
    margin: 5px 5px 3px 5px;
    /* border: 1px solid #181825; */
}

#backlight {
    border-radius: 10px;
}

#tray {
    border-radius: 10px;
}

#workspaces {
    background: rgba(28, 28, 30, 0);
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 10px;
}

#memory {
    border-radius: 10px;
}

#language {
    border-radius: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a6adc8;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  #a6adc8;
    border-radius: 10px;
}

#pulseaudio {
    color: #a6adc8;
    border-radius: 10px;
}

#pulseaudio.microphone {
    color: #a6adc8;
    border-radius: 10px;
}

#battery {
    color:#a6adc8;
    border-radius: 10px;
}
